{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">House Campaigns</li>
    </ol>
  </nav>
  <iframe src="https://createaclickablemap.com/map.php?&id=87006&maplocation=false&online=true" width="700" height="408.3" style="border: none;"></iframe>
  <div class="card" style="width: 18rem; z-index: 5; margin-left: 720px; margin-top: -400px; position: absolute;">
    <div class="card-body">
      <h5 class="card-title">House Campaign Finance Data by State</h5>
      <p class="card-text">Click on a state to view plots of the cash on hand/disbursements and the burn rates for the candidates running for that state's seats in the House of Representatives.</p>
    </div>
  </div>
  
</div>
{% endblock %}
