{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Presidential Campaigns</li>
    </ol>
  </nav>
  {{ cash_on_hand_div|safe }}
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
  {{ cash_on_hand_script|safe }}
  <div class="card" style="width: 18rem; z-index: 5; margin-left: 720px; margin-top: -600px; position: absolute;">
    <div class="card-body">
      <h5 class="card-title">Cash on hand/Disbursements</h5>
      <p class="card-text">The height of each bar represents the amount of money raised by each candidate. The portion of each bar that has been grayed out is the amount that has been spent, and the portion that is green is the candidate's remaining cash on hand.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">View burn rates</a></li>
      <li class="list-group-item"><a href="#">View Democratic candidates only</a></li>
      <li class="list-group-item"><a href="#">View Republican candidates only</a></li>
    </ul>
  </div>
</div>
{% endblock %}
